<div *ngIf='error'>
    <p>Network Error.</p>
</div>

<div *ngIf='isEmptyResult()'>
    <p>No media found.</p>
</div>

<div id="loaderDiv" *ngIf="isLoading">
    <ng4-loading-spinner></ng4-loading-spinner>
</div>

<a routerLink="{{data[i].city}}" class="card border-dark mb-3 frontpageCard" *ngFor="let city of cities; let i = index;"
    href="#">
    <div class="card-header">{{ data[i].city }}</div>
    <div class="card-body">
        <div *ngIf="data[i].temp_data[data[i].temp_data.length -1]; then tempBlock; else elseBlock"></div>

        <ng-template #tempBlock>
            <b>Viimeisin lämpötila:</b>
            <p> {{ this.cookieValue == '°C' ? data[i].temp_data[data[i].temp_data.length -1].value : data[i].temp_data[data[i].temp_data.length
                -1].value * 9 / 5 + 32 }}{{ this.cookieValue }}</p>
            <b>Havaintoaika:</b>
            <p> {{data[i].temp_data[data[i].temp_data.length -1].timestamp | date:"dd.MM.yyyy HH:mm" }}</p>
            <b>Vuorokauden korkein:</b>
            <p class="max"> {{ this.cookieValue == '°C' ? (data[i].temp_data | max: 'value') : (data[i].temp_data | max: 'value') * 9 / 5
                + 32 }}{{ this.cookieValue }}</p>
            <b>Vuorokauden matalin:</b>
            <p class="min"> {{ this.cookieValue == '°C' ? (data[i].temp_data | min: 'value') : (data[i].temp_data | min: 'value') * 9 / 5
                + 32 }}{{ this.cookieValue }}</p>
        </ng-template>
        <ng-template #elseBlock><p class="center"><i>Ei havaintoja edellisen
            <br/> vuorokauden ajalta</i></p></ng-template>

    </div>
</a>