@media screen and (min-width: 1024px){
    nav {
        width: 80%;
        margin: auto;
    }

    ul {
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
    }

    li {
        border-right:1px solid #bbb;
    }
    
    li:last-child {
        border-right: none;
    }

    li a {
        text-align: center;
    }

    .left {
        flex: 2 0 0;
    }

    li a.unit {
        color: white;
    }
}