#container {
    width: 80%;
    margin: auto;
    padding-left: 4px;
}

h1 {
    text-align: center;
}

.frontpageCard {
    text-decoration: none !important;
    width: 19.5%;
    max-width: 19.5%;
    margin: 2px;
    display: inline-flex;
    height: 350px;
    box-sizing: border-box;
    color: black;
}

#datadiv {
    max-width: 20rem;
}

#locationdiv {
    float: right;
    width: 49%;
    padding: 15px;
}

agm-map {
    height: 350px;
}

.card-header {
    text-align: center;
}

.max {
    color: red;
}

.min {
    color: blue;
}

.unit:hover {
    cursor: pointer;
}