* {
    list-style: none;
    text-decoration: none;
}

#container {
    width: 80%;
    margin: auto;
    padding-left: 4px;
}

h1 {
    text-align: center;
}

.frontpageCard {
    text-decoration: none !important;
    width: 19.5%;
    margin: 2px;
    display: inline-flex;
    height: 350px;
    box-sizing: border-box;
    color: black;
    border-radius: 15px;
}

#datadiv {
    float: left;
    width: 48%;
    height: 440px;
    overflow: auto;
}

#datadiv li {
    text-align: center !important;
    margin: auto;
    border-bottom: 1px solid #eee;
}

#locationdiv {
    float: right;
    width: 48%;
    overflow: auto;
}

agm-map {
    height: 350px;
}

.card-header {
    text-align: center;
}

.max {
    color: red;
}

.min {
    color: blue;
}

.unit:hover {
    cursor: pointer;
}

form {
    max-width: 600px;
    display: block;
    margin: auto;
}

input.ng-invalid, select.ng-invalid {
    border: 1px solid red;
    box-shadow: inset 0 1px 1px rgba(51, 219, 88, 0.075), 0 0 8px #f12d2d99;
}

input.ng-pristine, select.ng-pristine {
    border: 1px solid #999;
    box-shadow: inset 0 1px 1px rgba(51, 219, 88, 0.075), 0 0 8px #7f857c99;
}

.error {
    color: red;
}

input.ng-valid, select.ng-valid {
    border: 1px solid green;
    box-shadow: inset 0 1px 1px rgba(51, 219, 88, 0.075), 0 0 8px #57f30f99;
}

.center {
    padding-top: 70px;
    text-align: center;
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
    .frontpageCard, #datadiv, #locationdiv {
        width: 100%;
        padding: 0;
        height: auto;
    }
    agm-map {
        height: 100vw;
    }
    #datadiv {
        text-align: center !important;
    }
}